.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .flex-button {
    display: flex;
    flex-wrap: wrap;
  }

  .numButtons {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    margin: 10px 15px 10px 10px;
    color: whitesmoke;
    background-color: darkblue;
    font-size: 2rem;
    outline: none;
    box-shadow: 3px 3px 3px black;
        
  }

  .operators {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    margin: 10px 15px 10px 15px;
    color: whitesmoke;
    background-color: lightblue;
    font-size: 2rem;
    outline: none;
    box-shadow: 3px 3px 3px black;
        
  }
